/*<!--
    d3line.html

    Author:   L.K. Stefelmanns
    Course:   Data processing
    Study:    Minor Programming, University of Amsterdam
-->*/
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
